/* ================================= */
/* BANNER */
.banner {
    background-image: url("../img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 235px;
}

/* ================================= */
/* SECAO ENCONTRE SEU ESTILO */
section.encontre-seu-estilo {
    padding-bottom: 7rem;
}

h2 {
    font-size: 3.75rem;
    font-weight: 800;

    padding: 3.5rem 0;
    text-align: center;
}

.encontre-seu-estilo .container {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ================================= */
/* SECAO OFF */
section.off {
    background: #C2185B;
    padding-bottom: 4rem;
}

section.off h2 {
    color: #fff;
    text-transform: uppercase;
}

section.off .ofertas {
    padding: 0 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 20px;
}

section.off .ofertas div {
    background: #fff;
}

section.off .ofertas div p,
section.off .ofertas div small {
    font-size: 1rem;
    font-weight: 600;

    margin-left: 10px;
}

section.off .ofertas div small {
    font-weight: 400;
}

/* ================================= */
/* SECAO PRODUTO */
section.produto {
    margin-bottom: 7rem;
}

section.produto aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section.produto h2 {
    max-width: 545px;
    text-align: start;

    font-size: 2.4rem;
    font-weight: 600;
}

section.produto button {
    margin-bottom: 55px;
}

section.produto .container.flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

    gap: 10px;
}

/* ================================= */
/* FOOTER */
footer {
    background: #C2185B;
    color: #fff;
}

footer {
    padding: .1rem 7rem .1rem 7rem;
}

.container.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* justify-content: center; */
    flex-wrap: wrap;

    /* padding: 2rem 0; */
}

.infos.container.flex {
    gap: 100px;
}

/* ================================= */
/* TRABALHE CONOSCO */
section.trabalhe-conosco {
    margin: 50px 100px;
}

h1 {
    width: 80%;
    margin: 50px auto;

    font-size: 39px;
    font-weight: 600;
    
    color: #575757;
}

.form-input label {
    display: block;

    text-transform: capitalize;
    color: #9b9b9b;

    margin-bottom: .2rem;
}

.form-input input:not([type="checkbox"], [type="radio"]),
.form-input textarea {
    width: 540px;
}

.form-input textarea {
    resize: none;
}

/* .form-input option {
    color: #9b9b9b;
} */

.form-input {
    margin-bottom: 1.2rem;
}

.form button {
    width: 540px;

    padding: .4rem;

    font-size: 1.2rem;
    font-weight: 700;    
}

.text {
    width: 600px;

    color: #575757;
}

.text p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

/* ================================= */
/* MEDIA QUERY */
@media(max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    .menu ul {
        flex-direction: column;
    }
    h1 {
        margin: 2rem auto;
    }
}

@media(max-width: 1030px) {
    .encontre-seu-estilo .imgs {
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }
    section.produto .container.flex {
        flex-direction: column;
        align-items: center;
    }
    section.produto img { order: -1;}
    section.produto aside img { order: -1; }
}

@media(max-width: 1279px) {
    .container.flex {
        justify-content: center;
    }
    .text {
        margin-top: 50px;
    }
    .text p {
        text-align: center;
    }
}